/ Slider
#slider
  .shell
    %ul
      %li
        .image
          %img{alt: "", src: "assets/books.png"}/
        .details
          %h2 Bestsellers
          %h3 Special Offers
          %p.title Pellentesque congue lorem quis massa blandit non pretium nisi pharetra
          %p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id odio in tortor scelerisque dictum. Phasellus varius sem sit amet metus volutpat vel vehicula nunc lacinia.
          %a.read-more-btn{href: "#"} Read More
/ End Slider
/ Main
#main.shell
  / Sidebar
  #sidebar
    %ul.categories
      %li
        %h4 Categories
        %ul
          %li
            %a{href: "#"} Lorem ipsum dolor
          %li
            %a{href: "#"} Morbi eget
          %li
            %a{href: "#"} Nulla egestas
          %li
            %a{href: "#"} Curabitur venenatis
          %li
            %a{href: "#"} Ut dictum purus
          %li
            %a{href: "#"} Curabitur imperdiet
          %li
            %a{href: "#"} Aliquam elementum
      %li
        %h4 Authors
        %ul
          %li
            %a{href: "#"} Lorem ipsum dolor
          %li
            %a{href: "#"} Morbi eget
          %li
            %a{href: "#"} Nulla egestas
          %li
            %a{href: "#"} Curabitur venenatis
          %li
            %a{href: "#"} Ut dictum purus
          %li
            %a{href: "#"} Curabitur imperdiet
          %li
            %a{href: "#"} Lorem ipsum dolor
          %li
            %a{href: "#"} Morbi eget
          %li
            %a{href: "#"} Nulla egestas
          %li
            %a{href: "#"} Curabitur venenatis
          %li
            %a{href: "#"} Ut dictum purus
          %li
            %a{href: "#"} Curabitur imperdiet
  / End Sidebar
  / Content
  #content
    / Products
    .products
      %h3 Featured Products
      %ul
        - @live_auctions.each do |auction|
          %li
            .product.live.js-auction-item{"data-id" => auction.id}
              %a.info{href: "#"}
                %span.time-left
                  %i.fa.fa-clock-o
                  %span.value{"data-secs-left" => "10"} 10 sec

                %span.holder
                  %img{alt: "", src: "assets/image01.jpg"}/
                  %span.book-name
                    = auction.title
                  %span.bidder maverick
              %div.bid-container{href: "#"}
                %a.bid-btn.js-do-bid{class:('js-login' unless current_user), href:('#login-modal'  unless current_user)} Bid!
                %span.price
                  %span.low> $
                  = int_from_decimal(auction.bid.current_bid)
                  %span.high
                    = fractional_from_decimal(auction.bid.current_bid)

      / End Products
    .cl  
    / Best-sellers
    #best-sellers
      %h3 Best Sellers
      %ul
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best01.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                35
                %span.high 00
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best02.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                45
                %span.high 00
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best03.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                15
                %span.high 00
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best04.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                27
                %span.high 99
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best01.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                35
                %span.high 00
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best02.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                45
                %span.high 00
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best03.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                15
                %span.high 00
        %li
          .product
            %a{href: "#"}
              %img{alt: "", src: "assets/image-best04.jpg"}/
              %span.book-name Book Name
              %span.author by John Smith
              %span.price
                %span.low> $
                27
                %span.high 99
    / End Best-sellers
  / End Content
  .cl  
/ End Main