@import "variables";

.products{
  .product{
    .time-left{
      color: #fff;
      min-width: 68px;
      background-color: $third-color;
      position: absolute;
      float: right;
      z-index: 10;
      right: 0;
      margin-right: -8px;
      top: 16px;
      padding: 6px;
      border-radius: 8px 0 0  8px ;

    }
    .time-left.almost-over{
      background-color: $danger-color;
    }


    .bid-container {
      position: absolute;
      bottom: 0px;
      left: 7px;
      //background: url(buy-btn.png) repeat-x 0 0;
      width: 100%; //126px;
      height: 31px;
      color: #fff;
      font-size: 12px;
      line-height: 31px;
      text-transform: uppercase;
      font-weight: bold;
      z-index: 10;
      //padding-left: 10px;
      white-space: nowrap;
      &:hover {
        text-decoration: none;
      }

      .bid-btn{
        width: 100px;
        padding-left: 33px;
        text-decoration: none;
        display: block;
        background-color: #015faa;
        color: #fff;
        &:hover{
          background-color: #0f173a;
        }
        &:active{
          background-color: #0252aa;
        }
      }
      .price {
        padding: 0 7px;
        background: url(best-price.png) no-repeat 0 0;
        font-size: 22px;
        line-height: 60px;
        position: absolute;
        top: -22px;
        right: -11px;
        height: 62px;
        .low {
          font-size: 14px;
          vertical-align: baseline;
        }
        .high {
          font-size: 11px;
          line-height: 14px;
          vertical-align: super;
        }
      }
    }

    .book-name {
      font-size: 12px;
      line-height: 20px;
      color: #0182b5;
      font-family: 'Georgia', Arial, serif;
      display: block;
    }
    .bidder {
      font-size: 11px;
      line-height: 14px;
      color: $inactive-color;
      font-family: 'Georgia', Arial, serif;
      padding: 0 0 9px 1px;
      display: block;
    }
    .description {
      font-size: 11px;
      line-height: 16px;
      color: #878787;
    }
  }
}
