div.growlUI {
  background: url(error.png) no-repeat 10px 10px;

  h1, h2{
    color: white;
    padding: 5px 5px 5px 75px;
    text-align: left;
  }
  h1{
    font-size: 16px;
    line-height: 16px;
  }
  h2{
    font-size: 14px;
    line-height: 16px;
  }
}
